{% extends 'base.html.twig' %}

{% block title %}New Promos{% endblock %}

{% block body %}
    <h1>Create new Promos</h1>

    {{ include('promos/_form.html.twig') }}

    <a href="{{ path('app_promos_index') }}">back to list</a>
{% endblock %}
